@import url("./utils/_mixins.scss");
@import url("./utils/_variables.scss");
@import url("./utils/_placeholders.scss");
@import url("./utils/_base.scss");
@import url("./_section1.scss");
@import url("./_section2.scss");
@import url("./_section3.scss");
@import url("./_section4.scss");
@import url("./_section5.scss");
@import url("./_section6.scss");
@import url("./_section7.scss");
@import url("./_section8.scss");
@import url("./_section9.scss");
@import url("./_footer.scss");
body {
  overflow-x: hidden;
  font-family: "Poppins";
}
body button {
  cursor: pointer;
}
body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 87vw;
  outline: 2px solid red;
  position: relative;
}