<section class="image-section">
    <div class="container">
      <div class="card">
        <img src="path.jpg" alt="Walkways" class="card-image">
        <div class="card-content">
          <h2>The walkways of Indonesia spellbind</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero mollis rhoncus.</p>
          <a href="#" class="learn-more">Learn More</a>
        </div>
      </div>
      <div class="card">
        <img src="island.jpg" alt="Beaches" class="card-image">
        <div class="card-content">
          <h2>Perfect beaches exude relaxation and fun</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero mollis rhoncus.</p>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
<!-- joe -->