<main class="container">
  <section class="travel-section">
      <div class="image-container">
          <img src="https://raw.githubusercontent.com/Javus-Scriptus/Indonesia_Team/main/src/img/section2(##)/path.png" alt="Mountain walkway" 
               class="feature-image">
      </div>
      <div class="content">
          <h2>The walkways of Indonesia spellbind</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero mollis rhoncus.</p>
          <button class="learn-more">Learn More</button>
      </div>
  </section>

  <section class="travel-section reverse">
      <div class="content">
          <h2>Perfect beaches exude relaxation and fun</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero mollis rhoncus.</p>
          <button class="learn-more">Learn More</button>
      </div>
      <div class="image-container">
          <img src="https://raw.githubusercontent.com/Javus-Scriptus/Indonesia_Team/main/src/img/section2(##)/island.png" alt="Beach paradise" 
               class="feature-image">
      </div>
  </section>
</main>
</body>
</html>