  <section class="section-7">
    <h3 class="h3-section-7">Photo Gallery</h3>
    <p class="p-section-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus, eget tincidunt.</p>  
      <ul class="photo-gallery">
        <li class="photo photo-1"><img src="../img/section7/Image06.jpg" alt="photo"></li>
        <li class="photo photo-2"><img src="../img/section7/Image05.jpg" alt="photo"></li>
        <li class="photo photo-3"><img src="../img/section7/Image02.jpg" alt="photo"></li>
        <li class="photo photo-4"><img src="../img/section7/Image04.jpg" alt="photo"></li>
        <li class="photo photo-5"><img src="../img/section7/Image03.jpg" alt="photo"></li>
        <li class="photo photo-6"><img src="../img/section7/Image01.jpg" alt="photo"></li>
      </ul>
  </section>