<section class="section6">
    <h2 class="section6__title">Live a life like you wouldn’t imagine, experience a life you wouldn’t expect.</h2>
    <figure class="section6__bigvideo-container">
        <video class="section6__bigvideo" controls poster="../img/section6/img-1.jpg"  src="../img/section1/Rickroll.mp4" type="video">
        </video>
    </figure>
    <ul class="section6__box">
        <li class="box__item">
            <figure class="section6__video-container">
                <video class="section6__video" controls poster="../img/section6/img-2.jpg" src="../img/section1/Rickroll.mp4" type="video">
                </video>
            </figure>
            <article class="item__article">
                <h3 class="article__title">In The Country</h3>
                <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus.</p>
            </article>
        </li>
        <li class="box__item">
            <figure class="section6__video-container">
                <video class="section6__video" controls poster="../img/section6/img-3.jpg" src="../img/section1/Rickroll.mp4" type="video">
                </video>
            </figure>
            <article class="item__article">
                <h3 class="article__title">In The City</h3>
                <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus.</p>
            </article>
        </li>
    </ul>
</section>