
    <ul class="container">
        <ul class="section-2">
            <img src="Rectangle9.png" alt="Walkways of Indonesia">
                    <ul class="content">
                 <li><h2>The walkways of Indonesia spellbind</h2></li>
                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aenean mollis mauris.</p></li>
                <a href="#" class="btn">Learn More</a>
            </ul>
        </ul>
        <ul class="section">
            <img src="Rectangle10.png" alt="Perfect beaches">
            <ul class="content">
                <li><h2>Perfect beaches exude relaxation and fun</h2></li>
                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aenean mollis mauris.</p></li>
                <a href="#" class="btn">Learn More</a>
            </ul>
        </ul>
    </ul>
