<section class="section-3">
    <div class="container__section3">
        <div class="section-3__inner">
            <h2 class="section-3__title">
              Explore Our Secrets
            </h2>
            <div class="section-3__slider">
                <div class="section-3__slider-item">
                    <picture>
                        <source
                          srcset="../img/section3/slider-1.jpg 1x,../img/section3/2@slider-1.jpg 2x"
                          media="(max-width: 420px)">
                        
                        <source
                          srcset="../img/section3/slider-1.jpg 1x,../img/section3/2@slider-1.jpg 2x"
                          media="(min-width: 421px) and (max-width: 768px)">
                        
                        <source
                          srcset="../img/section3/slider-1.jpg 1x,../img/section3/2@slider-1.jpg 2x"
                          media="(min-width: 769px)">
                        
                        <img
                          class="section-3__slider-img"
                          src="../img/section3/slider-1.jpg"
                          srcset="../img/section3/2@slider-1.jpg 2x"
                          alt="slider-1">
                      </picture>
                    </div>
                    <div class="section-3__slider-item">
                      <picture>
                        <source
                          srcset="../img/section3/slider-2.jpg 1x,../img/section3/2@slider-2.jpg 2x"
                          media="(max-width: 420px)">
                        
                        <source
                          srcset="../img/section3/slider-2.jpg 1x,../img/section3/2@slider-2.jpg 2x"
                          media="(min-width: 421px) and (max-width: 768px)">
                        
                        <source
                          srcset="../img/section3/slider-2.jpg 1x,../img/section3/2@slider-2.jpg 2x"
                          media="(min-width: 769px)">
                        
                        <img
                          class="section-3__slider-img"
                          src="../img/section3/slider-2.jpg"
                          srcset="../img/section3/2@slider-2.jpg 2x"
                          alt="slider-1">
                      </picture>
                    </div>
                    <div class="section-3__slider-item">
                      <picture>
                        <source
                          srcset="../img/section3/slider-3.jpg 1x,../img/section3/2@slider-3.jpg 2x"
                          media="(max-width: 420px)">
                        
                        <source
                          srcset="../img/section3/slider-3.jpg 1x,../img/section3/2@slider-3.jpg 2x"
                          media="(min-width: 421px) and (max-width: 768px)">
                        
                        <source
                          srcset="../img/section3/slider-3.jpg 1x,../img/section3/2@slider-3.jpg 2x"
                          media="(min-width: 769px)">
                        
                        <img
                          class="section-3__slider-img"
                          src="../img/section3/slider-3.jpg"
                          srcset="../img/section3/2@slider-3.jpg 2x"
                          alt="slider-1">
                      </picture>
                    </div>
                    <div class="section-3__slider-item">
                        <picture>
                            <source
                              srcset="../img/section3/slider-1.jpg 1x,../img/section3/2@slider-1.jpg 2x"
                              media="(max-width: 420px)">
                            
                            <source
                              srcset="../img/section3/slider-1.jpg 1x,../img/section3/2@slider-1.jpg 2x"
                              media="(min-width: 421px) and (max-width: 768px)">
                            
                            <source
                              srcset="../img/section3/slider-1.jpg 1x,../img/section3/2@slider-1.jpg 2x"
                              media="(min-width: 769px)">
                            
                            <img
                              class="section-3__slider-img"
                              src="../img/section3/slider-1.jpg"
                              srcset="../img/section3/2@slider-1.jpg 2x"
                              alt="slider-1">
                          </picture>
                        </div>
                        <div class="section-3__slider-item">
                          <picture>
                            <source
                              srcset="../img/section3/slider-2.jpg 1x,../img/section3/2@slider-2.jpg 2x"
                              media="(max-width: 420px)">
                            
                            <source
                              srcset="../img/section3/slider-2.jpg 1x,../img/section3/2@slider-2.jpg 2x"
                              media="(min-width: 421px) and (max-width: 768px)">
                            
                            <source
                              srcset="../img/section3/slider-2.jpg 1x,../img/section3/2@slider-2.jpg 2x"
                              media="(min-width: 769px)">
                            
                            <img
                              class="section-3__slider-img"
                              src="../img/section3/slider-2.jpg"
                              srcset="../img/section3/2@slider-2.jpg 2x"
                              alt="slider-1">
                          </picture>
                        </div>
                        <div class="section-3__slider-item">
                          <picture>
                            <source
                              srcset="../img/section3/slider-3.jpg 1x,../img/section3/2@slider-3.jpg 2x"
                              media="(max-width: 420px)">
                            
                            <source
                              srcset="../img/section3/slider-3.jpg 1x,../img/section3/2@slider-3.jpg 2x"
                              media="(min-width: 421px) and (max-width: 768px)">
                            
                            <source
                              srcset="../img/section3/slider-3.jpg 1x,../img/section3/2@slider-3.jpg 2x"
                              media="(min-width: 769px)">
                            
                            <img
                              class="section-3__slider-img"
                              src="../img/section3/slider-3.jpg"
                              srcset="../img/section3/2@slider-3.jpg 2x"
                              alt="slider-1">
                          </picture>
                        </div>
                        <div class="section-3__slider-item">
                            <picture>
                                <source
                                  srcset="../img/section3/slider-1.jpg 1x,../img/section3/2@slider-1.jpg 2x"
                                  media="(max-width: 420px)">
                                
                                <source
                                  srcset="../img/section3/slider-1.jpg 1x,../img/section3/2@slider-1.jpg 2x"
                                  media="(min-width: 421px) and (max-width: 768px)">
                                
                                <source
                                  srcset="../img/section3/slider-1.jpg 1x,../img/section3/2@slider-1.jpg 2x"
                                  media="(min-width: 769px)">
                                
                                <img
                                  class="section-3__slider-img"
                                  src="../img/section3/slider-1.jpg"
                                  srcset="../img/section3/2@slider-1.jpg 2x"
                                  alt="slider-1">
                              </picture>
                            </div>
                            <div class="section-3__slider-item">
                              <picture>
                                <source
                                  srcset="../img/section3/slider-2.jpg 1x,../img/section3/2@slider-2.jpg 2x"
                                  media="(max-width: 420px)">
                                
                                <source
                                  srcset="../img/section3/slider-2.jpg 1x,../img/section3/2@slider-2.jpg 2x"
                                  media="(min-width: 421px) and (max-width: 768px)">
                                
                                <source
                                  srcset="../img/section3/slider-2.jpg 1x,../img/section3/2@slider-2.jpg 2x"
                                  media="(min-width: 769px)">
                                
                                <img
                                  class="section-3__slider-img"
                                  src="../img/section3/slider-2.jpg"
                                  srcset="../img/section3/2@slider-2.jpg 2x"
                                  alt="slider-1">
                              </picture>
                            </div>
                            <div class="section-3__slider-item">
                              <picture>
                                <source
                                  srcset="../img/section3/slider-3.jpg 1x,../img/section3/2@slider-3.jpg 2x"
                                  media="(max-width: 420px)">
                                
                                <source
                                  srcset="../img/section3/slider-3.jpg 1x,../img/section3/2@slider-3.jpg 2x"
                                  media="(min-width: 421px) and (max-width: 768px)">
                                
                                <source
                                  srcset="../img/section3/slider-3.jpg 1x,../img/section3/2@slider-3.jpg 2x"
                                  media="(min-width: 769px)">
                                
                                <img
                                  class="section-3__slider-img"
                                  src="../img/section3/slider-3.jpg"
                                  srcset="../img/section3/2@slider-3.jpg 2x"
                                  alt="slider-1">
                              </picture>
                            </div>
                            <div class="section-3__slider-item">
                                <picture>
                                    <source
                                      srcset="../img/section3/slider-1.jpg 1x,../img/section3/2@slider-1.jpg 2x"
                                      media="(max-width: 420px)">
                                    
                                    <source
                                      srcset="../img/section3/slider-1.jpg 1x,../img/section3/2@slider-1.jpg 2x"
                                      media="(min-width: 421px) and (max-width: 768px)">
                                    
                                    <source
                                      srcset="../img/section3/slider-1.jpg 1x,../img/section3/2@slider-1.jpg 2x"
                                      media="(min-width: 769px)">
                                    
                                    <img
                                      class="section-3__slider-img"
                                      src="../img/section3/slider-1.jpg"
                                      srcset="../img/section3/2@slider-1.jpg 2x"
                                      alt="slider-1">
                                  </picture>
                                </div>
                                <div class="section-3__slider-item">
                                  <picture>
                                    <source
                                      srcset="../img/section3/slider-2.jpg 1x,../img/section3/2@slider-2.jpg 2x"
                                      media="(max-width: 420px)">
                                    
                                    <source
                                      srcset="../img/section3/slider-2.jpg 1x,../img/section3/2@slider-2.jpg 2x"
                                      media="(min-width: 421px) and (max-width: 768px)">
                                    
                                    <source
                                      srcset="../img/section3/slider-2.jpg 1x,../img/section3/2@slider-2.jpg 2x"
                                      media="(min-width: 769px)">
                                    
                                    <img
                                      class="section-3__slider-img"
                                      src="../img/section3/slider-2.jpg"
                                      srcset="../img/section3/2@slider-2.jpg 2x"
                                      alt="slider-1">
                                  </picture>
                                </div>
                                <div class="section-3__slider-item">
                                  <picture>
                                    <source
                                      srcset="../img/section3/slider-3.jpg 1x,../img/section3/2@slider-3.jpg 2x"
                                      media="(max-width: 420px)">
                                    
                                    <source
                                      srcset="../img/section3/slider-3.jpg 1x,../img/section3/2@slider-3.jpg 2x"
                                      media="(min-width: 421px) and (max-width: 768px)">
                                    
                                    <source
                                      srcset="../img/section3/slider-3.jpg 1x,../img/section3/2@slider-3.jpg 2x"
                                      media="(min-width: 769px)">
                                    
                                    <img
                                      class="section-3__slider-img"
                                      src="../img/section3/slider-3.jpg"
                                      srcset="../img/section3/2@slider-3.jpg 2x"
                                      alt="slider-1">
                                  </picture>
                                </div>
                                <div class="section-3__slider-item">
                                    <picture>
                                        <source
                                          srcset="../img/section3/slider-1.jpg 1x,../img/section3/2@slider-1.jpg 2x"
                                          media="(max-width: 420px)">
                                        
                                        <source
                                          srcset="../img/section3/slider-1.jpg 1x,../img/section3/2@slider-1.jpg 2x"
                                          media="(min-width: 421px) and (max-width: 768px)">
                                        
                                        <source
                                          srcset="../img/section3/slider-1.jpg 1x,../img/section3/2@slider-1.jpg 2x"
                                          media="(min-width: 769px)">
                                        
                                        <img
                                          class="section-3__slider-img"
                                          src="../img/section3/slider-1.jpg"
                                          srcset="../img/section3/2@slider-1.jpg 2x"
                                          alt="slider-1">
                                      </picture>
                                    </div>
                                    <div class="section-3__slider-item">
                                      <picture>
                                        <source
                                          srcset="../img/section3/slider-2.jpg 1x,../img/section3/2@slider-2.jpg 2x"
                                          media="(max-width: 420px)">
                                        
                                        <source
                                          srcset="../img/section3/slider-2.jpg 1x,../img/section3/2@slider-2.jpg 2x"
                                          media="(min-width: 421px) and (max-width: 768px)">
                                        
                                        <source
                                          srcset="../img/section3/slider-2.jpg 1x,../img/section3/2@slider-2.jpg 2x"
                                          media="(min-width: 769px)">
                                        
                                        <img
                                          class="section-3__slider-img"
                                          src="../img/section3/slider-2.jpg"
                                          srcset="../img/section3/2@slider-2.jpg 2x"
                                          alt="slider-1">
                                      </picture>
                                    </div>
                                    <div class="section-3__slider-item">
                                      <picture>
                                        <source
                                          srcset="../img/section3/slider-3.jpg 1x,../img/section3/2@slider-3.jpg 2x"
                                          media="(max-width: 420px)">
                                        
                                        <source
                                          srcset="../img/section3/slider-3.jpg 1x,../img/section3/2@slider-3.jpg 2x"
                                          media="(min-width: 421px) and (max-width: 768px)">
                                        
                                        <source
                                          srcset="../img/section3/slider-3.jpg 1x,../img/section3/2@slider-3.jpg 2x"
                                          media="(min-width: 769px)">
                                        
                                        <img
                                          class="section-3__slider-img"
                                          src="../img/section3/slider-3.jpg"
                                          srcset="../img/section3/2@slider-3.jpg 2x"
                                          alt="slider-1">
                                      </picture>
                                    </div>
            </div>
        </div>
    </div> 
    </div>
</section>
