<section class="section6">
    <h2 class="section6__title">Live a life you never dreamed of, discover a life that exceeds all expectations.</h2>
    <figure class="section6__bigvideo-container">
        <video class="section6__bigvideo" controls poster="https://raw.githubusercontent.com/Javus-Scriptus/Indonesia_Team/main/src/img/section6/img-1.jpg"  src="https://raw.githubusercontent.com/Javus-Scriptus/Indonesia_Team/main/src/img/section1/Rickroll.mp4" type="video">
        </video>
    </figure>
    <ul class="section6__box">
        <li class="box__item">
            <figure class="section6__video-container">
                <video class="section6__video" controls poster="https://raw.githubusercontent.com/Javus-Scriptus/Indonesia_Team/main/src/img/section6/img-2.jpg" src="https://raw.githubusercontent.com/Javus-Scriptus/Indonesia_Team/main/src/img/section1/Rickroll.mp4" type="video">
                </video>
            </figure>
            <article class="item__article">
                <h3 class="article__title">In the country</h3>
                <p class="article__text">Experience true harmony with nature, enjoying the tranquility and beauty of remote places.</p>
            </article>
        </li>
        <li class="box__item">
            <figure class="section6__video-container">
                <video class="section6__video" controls poster="https://raw.githubusercontent.com/Javus-Scriptus/Indonesia_Team/main/src/img/section6/img-3.jpg" src="https://raw.githubusercontent.com/Javus-Scriptus/Indonesia_Team/main/src/img/section1/Rickroll.mp4" type="video">
                </video>
            </figure>
            <article class="item__article">
                <h3 class="article__title">In the city</h3>
                <p class="article__text">Immerse yourself in the atmosphere of a lively metropolis, where every street hides its own story.</p>
            </article>
        </li>
    </ul>
</section>