<section class="hero">
    <div class="adaptive-container">
        <!-- <div class="container"> -->
        <header class="header">
            <ul class="header__nav">
                <li><a href=""><svg class="header__logo">
                            <use href="../img/symbol-defs.svg#header__logo"></use>
                        </svg></a></li>
                <li class="header__breadcrumb"><a class="header__link" href="">destinations</a></li>
                <li class="header__breadcrumb"><a class="header__link" href="">experiences</a></li>
                <li class="header__breadcrumb"><a class="header__link" href="">about</a></li>
                <li class="header__breadcrumb"><a class="header__link" href="">gallery</a></li>
            </ul>
            <ul class="header__search search">
                <li class="header__breadcrumb"><a class="header__link" href="../components/partials/index.html">Eng</a>
                </li>
                <li class="header__breadcrumb"><a class="header__link" href="../components/partials/ukr.html">UA</a>
                </li>
                <li>
                    <svg class="search__icon">
                        <use href="../img/symbol-defs.svg#magnifying__glass"></use>
                    </svg>
                </li>
                <li>
                    <svg class="search__icon">
                        <use href="../img/symbol-defs.svg#header__burger"></use>
                    </svg>
                </li>
            </ul>
        </header>
        <article class="side-bar">
            <!-- <ul class="calendar">
                        <li class="active-stripe"><svg class="active-stripe">
                                <use href="../img/symbol-defs.svg#active__stripe"></use>
                            </svg></li>
                        <li class="calendar__num"><svg class="inactive-stripe">
                                <use href="../img/symbol-defs.svg#inactive__stripe"></use>
                            </svg></li>
                        <li class="calendar__num">01</li>
                    </ul> -->
            <!-- 
            <ul class="social-media">
                <li class="twitter" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="700"><svg
                        class="social-media__icon">
                        <use href="../img/symbol-defs.svg#twitter"></use>
                    </svg></li>
                <li class="linkedin" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="700"><svg
                        class="social-media__icon">
                        <use href="../img/symbol-defs.svg#linkedin"></use>
                    </svg></li>
                <li class="facebook" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="700"><svg
                        class="social-media__icon">
                        <use href="../img/symbol-defs.svg#facebook"></use>
                    </svg></li> -->
            </ul>
        </article>
        <article class="explore__container">
            <h1 class="hero__heading">explore indonesia</h1>
            <button class="hero__btn">Start travelling</button>
            <ul class="explore-cards">
                <li class="explore">
                    <p class="explore__num">01</p>
                    <h3 class="explore__heading">Incredible landscapes</h3>
                    <p class="explore__text">From the crystal-clear beaches of Bali to the majestic volcanoes of Java,
                        discover the most beautiful corners of
                        Indonesia.</p>
                </li>
                <li class="explore">
                    <p class="explore__num">02</p>
                    <h3 class="explore__heading">Culture and traditions</h3>
                    <p class="explore__text">Immerse yourself in a rich world of traditions, art, and gastronomy. Learn
                        about the diversity of the Indonesian people.</p>
                </li>
                <li class="explore">
                    <p class="explore__num">03</p>
                    <h3 class="explore__heading">Adventures at every turn</h3>
                    <p class="explore__text">Dive among coral reefs, climb volcanoes or explore rainforests - Indonesia
                        is
                        waiting for you!</p>
                </li>
                <li class="explore explore__vid">
                    <video class="explore__video" controls poster="../img/section1/poster.jpg"
                        src="../img/section1/Rickroll.mp4"></video>
                    <!-- class="explore__poster" -->
                </li>
            </ul>
        </article>
        <!-- </div> -->
    </div>
</section>