@import url('./utils/_mixins.scss');
@import url('./utils/_variables.scss');
@import url('./utils/_placeholders.scss');

*,
*::after,
*::before {
    box-sizing: border-box;
}

.container__footer {
    width: 90%;
    padding: auto 10;
    margin: 0 auto;
    outline: none;
}

a {
    list-style: none;
    text-decoration: none;
}

ul {
    list-style: none;
}
li{
    cursor: pointer;
}

.footer {
    background: black;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.footer__media{
    display: flex;
}

.footer__inner {
    display: flex;
    padding-top: 48px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer__info-list {
    display: flex;
    gap: 38px;
    margin-left: 30px;
    align-items: center;
}

.footer__media-list {
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.footer__media-text{
    margin-left: 50px;
}

// .footer__media{
//     justify-content: flex-end;
// }




.footer-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: #FFF;
    // margin-right: 50px;
}

.footer-icon:hover{animation:jello-horizontal .9s both}

@keyframes footer-icon{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}

.footer-icon:hover{
    margin: 01 12px 12px 0;
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    background-color: #DD2242;
    fill: black;
    transition: .35s;
}

.icon {
    width: 174px;
    height: 65.749px;
    flex-shrink: 0;
}

.footer__info-item {
    color: var(--Main-White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.5px;
}



.footer__info-item:hover{-webkit-animation:heartbeat 1.5s ease-in-out infinite both;animation:heartbeat 1.5s ease-in-out infinite both}

// @-webkit-keyframes footer__info-item{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes heartbeat{from{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:center center;transform-origin:center center;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}10%{-webkit-transform:scale(.91);transform:scale(.91);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}17%{-webkit-transform:scale(.98);transform:scale(.98);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}33%{-webkit-transform:scale(.87);transform:scale(.87);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}45%{-webkit-transform:scale(1);transform:scale(1);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}

.footer__media-text {
    color: var(--Main-White, #FFF);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 155.556% */
    letter-spacing: 0.5px;
    margin-top: -14px;
}

.footer__img{
    position: relative;
    top: -7vh;
    right: 10vh;
}

@media(max-width:1438px){
    .footer__img{
        position: absolute;
        top: 609vh;
        right: 10vh;
    }
}

@media(max-width:1400px){
    .footer__img{
        display: none;
    }
}

@media (max-width:1200px){
    .container__footer{
        flex-direction: column;
    }
    .footer__inner{
        margin: 0 auto;
        justify-content: center;
    }
    .footer__inner{
        display: block;
        align-items: center;
        text-align: center;
    }
    .footer__info-list{
        display: block;
    }
    .footer__media-list{
        margin: 0 auto;
        justify-content: center;
    }
    .footer__media-icon{
        margin: 0 auto;
    }
    .footer__media-list:nth-child(1){
        margin-left: 100px;
    }
    .footer__img{
        display: none;
    }
}




