@import url('./utils/_mixins.scss');
@import url('./utils/_variables.scss');
@import url('./utils/_placeholders.scss');
// @use './utils/placeholders';

.header {
  display: flex;
  width: 95vw;
  outline: 2px solid red;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  // justify-content: space-between;
  padding-top: 2vw;
  align-items: start;
  justify-content: start;

  .search {
    display: flex;
    margin-left: auto;
    margin-right: 5vw;
    gap: 20px;

    &__icon {
      width: 2.1vw;
      height: 2.1vw;
      fill: #fff;
      cursor: pointer;

      &:hover {
        fill: #2196f3;
      }
    }
  }

  &__nav {
    display: flex;
    gap: 62px;
  }

  &__link {
    height: 2px !important;
    color: #fff;
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    height: 3px;

    &:hover {
      color: #2196f3;
    }
  }

  &__icon {
    fill: #fff;
    width: 185.096px;
    height: 68.749px;
    // width: 70%;
  }
}

.hero {
  background: url(../img/section1/desert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .container {
    margin: 0;
    margin-left: auto;
  }

  &__heading {
    // margin-top: 30vh;
    width: 33vw;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    font-weight: 900;
    line-height: 130px;
    text-transform: uppercase;
  }

  &__btn {
    // @extend %regular-text !optional;
    color: rgba(255, 255, 255, 0.8);
    background: #dd2242;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 50px;
    border: none;
    border-radius: 50px;
  }
}

.side-bar {
  // width: 185px;
  width: 9.3%;
  display: flex;
  flex-direction: column;
  gap: 200px;
  // position: absolute;
  top: 20vh;
}

// calendar
.calendar {
  outline: 2px solid blue;

  .active-stripe {
    fill: #dd2242;
    width: 4.002px;
    height: 100px;
  }

  .inactive-stripe {
    fill: #fff;
    width: 2.001px;
    height: 296px;
  }

  &__num {
    // @extend %regular-text !optional;
    color: #fff;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 700;
    width: 18px;
  }
}

.social-media {
  width: 1%;
  display: flex;
  gap: 12px;
  // margin-top: 110vh;

  &__icon {
    fill: #fff;
    width: 25px;
    height: 25px;
    outline: 2px solid red;
    cursor: pointer;

    &:hover {
      fill: #2196f3;
    }
  }
}

// explore cards
.explore-cards {
  // @extend %regular-centering;
  width: 100%;
  height: 25vh;
  display: flex;
  background: rgba(0, 0, 0, 0.65);
  gap: 14px;
  justify-content: space-around;
  margin-top: 241px;
  // overflow-x: auto;
}

.explore {
  margin: auto;
  height: 70%;
  width: 15%;
  outline: 2px solid red;

  &__container {
    margin-left: auto !important;
    // margin-right: auto;
    width: 90vw;
    outline: 2px solid red;
  }

  &__poster {
    height: 110%;
    width: 22%;
    margin-right: 0;
    // margin-bottom: 30px;
  }

  &__video {
    width: 100%;
    height: 100%;
  }

  &__num {
    // @extend %regular-text;
    color: #dd2242;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__heading {
    // @extend %regular-text !optional;
    color: #fff;
    font-size: 26.409px;
    font-weight: 700;
  }

  &__text {
    // @extend %regular-text;
    width: 70%;
    color: #939393;
    letter-spacing: 0.3px;
    // font-feature-settings: 'liga' off, 'clig' off;
  }
}
