@import url('./utils/_mixins.scss');
@import url('./utils/_variables.scss');
@import url('./utils/_placeholders.scss');

.section-7 {
  .photo-gallery {
    display: grid;
    gap: 10px; 
    grid-template-columns: repeat(3, 1fr);
   }
  }