@import url('./utils/_mixins.scss');
@import url('./utils/_variables.scss');
@import url('./utils/_placeholders.scss');
// @use './utils/placeholders';

.header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  // justify-content: space-between;
  align-items: start;
  justify-content: start;
  align-items: center;

  .search {
    display: flex;
    margin-left: auto;

    &__icon {
      fill: #fff;
      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        fill: #2bff01;
        transform: perspective(300);
      }
    }
  }

  &__nav {
    display: flex;
  }

  &__breadcrumb {
    height: 2px;
  }

  &__link {
    color: #fff;
    font-family: 'DM Sans';
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;

    &:hover {
      // color: #2196f3;
      color: #7f0000;
      transform: perspective(300);
      // animation: shadow-drop-center 0.4s linear;
    }
  }

  &__icon {
    fill: #fff;
    // width: 70%;
  }
}

.search {
  &__icon {
    height: 7.4vw;
    width: 7.4vw;
  }
}

.hero {
  background: url(../img/section1/desert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__heading {
    // margin-top: 30vh;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__btn {
    // @extend %regular-text !optional;
    color: rgba(255, 255, 255, 0.8);
    background: #dd2242;
    text-align: center;
    font-weight: 700;
    border: none;
    border-radius: 50px;

    &:hover {
      animation: slide-fwd-center all 0.3s ease;
    }
  }
}

.side-bar {
  // width: 185px;
  display: flex;
  // flex-direction: column;
  // position: absolute;
}

// calendar
.calendar {

  .active-stripe {
    fill: #dd2242;
  }

  .inactive-stripe {
    fill: #fff;
  }

  &__num {
    // @extend %regular-text !optional;
    color: #fff;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    font-family: 'DM Sans';
    font-weight: 700;
  }
}

.social-media {
  // width: 4%;
  display: flex;
  position: relative;

  &__icon {
    fill: #fff;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      fill: #2bff01;
      // fill: #9acd32;
      transform: perspective(300);
    }
  }
}

// explore cards
.explore-cards {
  // @extend %regular-centering;
  display: flex;
  background: rgba(0, 0, 0, 0.65);
  justify-content: space-around;
  overflow: hidden;
}

.explore {
  display: flex;
  // margin: auto;
  margin-top: auto;
  margin-bottom: auto;

  &__container {
    margin-left: auto;
    // margin-right: auto;
  }

  &__poster {
    margin-right: 0;
    // margin-bottom: 30px;
  }

  &__video {
    width: 100%;
    height: 100%;
  }

  &__num {
    // @extend %regular-text;
    color: #dd2242;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__heading {
    // @extend %regular-text !optional;
    color: #fff;
    font-weight: 700;
  }

  &__text {
    // @extend %regular-text;
    color: #939393;
    letter-spacing: 0.3px;
    // font-feature-settings: 'liga' off, 'clig' off;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 230dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: url(../img/section1/desert@2x.jpg);
  }
}

// TODO mobile
@media screen and (min-width: 320px) {
  .container {
    width: 83vw;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-bottom: 70vh;
    // width: 10vw;
    // text-align: center;
  }

  .header {
    &__nav {
      padding: 0;
    }

    &__breadcrumb {
      display: none;
    }

    .search {
      gap: 4vw;
      margin-right: 4vw;

      &__icon {
        height: 8vw;
        width: 8vw;
      }
    }

    &__logo {
      width: 40vw;
      height: 8vh;
      margin: auto;
    }
  }

  .hero {
    padding-bottom: 15vh;
    .social-media {
      display: none;
    }

    &__btn {
      font-size: 5vw;
      width: 100%;
      height: 8vh;
      margin-top: 4px;
      margin-bottom: 6vh;
    }

    &__heading {
      text-align: center;
      line-height: 110%;
      width: 100%;
      font-size: 16vw;
    }

    .explore-cards {
      padding-left: 0;
      // padding-bottom: 30vh;
      height: 170vh;
      width: 100%;
      margin: 0;
      flex-direction: column;
      gap: 3vh;
    }

    .explore {
      gap: 1.7vh;
      width: 100%;
      height: 35%;
      // height: 17%;
      flex-direction: column;

      &__num {
        font-size: 4vw;
        margin: 0;
      }

      &__heading {
        width: 100%;
        font-size: 6vw;
        margin: 0;
      }

      &__text {
        width: 100%;
        font-size: 4vw;
        margin: 0;
      }

      &__poster {
        width: 100%;
      }
    }
  }
}
//TODO tablet
@media screen and (min-width: 768px) {
  .header {
    .search {
      &__icon {
        width: 6vw;
        height: 6vw;
      }
    }

    &__logo {
      width: 28vw;
    }
  }

  .hero {
    // padding-top: 5vh;
    padding-bottom: 15vh;

    &__heading {
      width: 20%;
      font-size: 8vw;
    }

    &__btn {
      width: 23vw;
      font-size: 2vw;
      margin-bottom: 7vh;
    }

    .explore-cards {
      flex-direction: column;
      gap: 5vh;
      height: 180vh;

      .explore {
        gap: 1.2vw;
        height: 30%;
        // height: 55vh;
        // height: 25%;

        &__vid {
          height: 57%;
        }

        &__num {
          font-size: 3.3vw;
        }

        &__heading {
          font-size: 4.5vw;
        }
        &__text {
          font-size: 3.3vw;
          width: 100%;
        }
      }
    }
  }
}
//TODO desktop
@media screen and (min-width: 1024px) {
  .header {
    width: 95vw;
    padding-top: 2vw;

    &__breadcrumb {
      display: block;
    }

    &__logo {
      height: 8vh;
      width: 14vw;
    }

    .search {
      margin-right: 5vw;
      // gap: 20px;

      &__icon {
        width: 3.2vw;
        height: 3.2vw;
      }
    }

    &__nav {
      gap: 62px;
    }

    &__breadcrumb {
      height: 2px;
    }

    &__link {
      font-size: 18px;
      height: 3px;
    }

    &__icon {
      width: 185.096px;
      height: 68.749px;
      // width: 70%;
    }
  }

  .hero {
    &__heading {
      text-align: start;
      // margin-top: 30vh;
      width: 33vw;
      font-size: 120px;
      line-height: 130px;
    }

    &__btn {
      text-align: center;
      font-size: 1.3vw;
      width: 14%;
      height: 8vh;
      // padding: 1vw;
      margin-left: 4vw;
    }

    &__heading {
      line-height: 115%;
      width: 40%;
      font-size: 6vw;
      margin-left: 4vw;
    }

    .explore-cards {
      gap: 0;
      height: 30vh;
      margin-top: 20vh;
      flex-direction: row;
    }
    .explore {
      gap: 1.6vh;
      margin-top: auto;
      margin-bottom: auto;
      // width: 68%;
      width: 22%;
      flex-direction: column;
      height: 70% !important;

      &__vid {
        height: 100% !important;
        width: 26% !important;
      }

      &__num {
        font-size: 1.2vw !important;
      }

      &__heading {
        width: 100% !important;
        font-size: 1.5vw !important;
      }

      &__text {
        width: 100% !important;
        font-size: 0.8vw !important;
      }
    }
  }
}
