@mixin text-style($font-weight: 400, $font-size: 16px, $family: 'Roboto', $line-height: 30px, $color: #000, $align: center) {
    font-weight: $font-weight;
    font-size: $font-size;
    font-family: $family;
    line-height: $line-height;
    color: $color;
    text-align: $align;
    letter-spacing: 3%;
}

.section6 {
    background-image: url('https://raw.githubusercontent.com/Javus-Scriptus/Indonesia_Team/main/src/img/section6/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .section6__video {
        &.poster-img-1 {
            &[poster="../img/section6/img-1.jpg"] {

                @media (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi) {
                    poster: url("https://raw.githubusercontent.com/Javus-Scriptus/Indonesia_Team/main/src/img/section6/img-1@2x.jpg");
                }
            }
        }

        &.poster-img-2 {
            &[poster="../img/section6/img-2.jpg"] {

                @media (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi) {
                    poster: url("https://raw.githubusercontent.com/Javus-Scriptus/Indonesia_Team/main/src/img/section6/img-2@2x.jpg");
                }
            }
        }

        &.poster-img-3 {
            &[poster="../img/section6/img-3.jpg"] {

                @media (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi) {
                    poster: url("https://raw.githubusercontent.com/Javus-Scriptus/Indonesia_Team/main/src/img/section6/img-3@2x.jpg");
                }
            }
        }
    }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .section6 {
        background-image: url('https://raw.githubusercontent.com/Javus-Scriptus/Indonesia_Team/main/src/img/section6/background@2x.jpg');
    }
}

.section6 {
    &__title {
        @include text-style(700, 42px, 'DM Sans', 50px, #FFFFFF, center);
        width: 1056px;
        margin: 0 auto;
        padding-top: 141px;
    }

    &__bigvideo-container {
        width: 1056px;
        height: 594px;
        display: block;
        margin: 0 auto;
        margin-top: 67px;

        video {
            width: 1056px;
            height: 594px;
            display: block;
            margin: 0 auto;
        }
    }

    &__box {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 75px;

        .box__item {
            display: flex;
            flex-flow: row wrap;
            margin-top: 127px;
            margin-bottom: 255px;

            &__video-container {
                .section6__video {
                    width: 233px;
                    height: 151px;
                }
            }

            .item__article {
                display: flex;
                flex-flow: column wrap;
                margin-left: 41px;
                width: 290px;

                .article__title {
                    @include text-style(700, 18px, 'DM Sans', 27px, #FFFFFF, left);
                }

                .article__text {
                    @include text-style(700, 12px, 'DM Sans', 28px, #FFFFFF, left);
                    opacity: 75%;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}

.section6__video {
    width: 233px;
    height: 151px;
}

@media (min-width: 768px) and (max-width: 1440px) {
    .section6 {
        &__title {
            @include text-style(700, 36px, 'DM Sans', 45px, #FFFFFF, center);
            width: 90%;
            padding-top: 100px;
        }

        &__bigvideo-container {
            width: 100%;
            height: auto;
            margin-top: 50px;
            
            video {
                width: 90%;
                height: auto;
            }
        }

        &__box {
            margin: 0;
            padding: 0;
            gap: 0;
            margin: 50px 0;

            .box__item {
                margin: 0;
                margin-bottom: 50px;
                flex-flow: row wrap;

                &__video-container {
                    width: 100%;
                    height: 100%;

                    video {
                        width: 100%;
                        height: 100%;
                    }
                }

                .item__article {
                    display: flex;
                    flex-flow: column wrap;
                    width: 336px;
                    margin-left: 50px;
                    margin-top: 10px;

                    .article__title {
                        @include text-style(700, 18px, 'DM Sans', 28px, #FFFFFF, left);
                    }

                    .article__text {
                        @include text-style(700, 18px, 'DM Sans', 28px, #FFFFFF, left);
                        display: flex;
                        flex-wrap: wrap;
                        opacity: 75%;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .section6 {
        &__title {
            @include text-style(700, 24px, 'DM Sans', 30px, #FFFFFF, center);
            width: 90%;
            padding-top: 50px;
        }

        &__bigvideo-container {
            margin-top: 50px;
            width: 100%;
            height: auto;

            video {
                border-radius: 10px;
                width: 90%;
                height: auto;
            }
        }

        &__box {
            margin: 0;
            padding: 0;
            gap: 0;

            .box__item {
                margin-top: 20px;
                margin-bottom: 20px;

                .item__article {
                    width: 90%;
                    margin: 0 auto;
                    .article__title {
                        @include text-style(700, 22px, 'DM Sans', 33px, #FFFFFF, center);
                        margin-top: 32px;
                    }

                    .article__text {
                        @include text-style(400, 16px, 'DM Sans', 24px, #FFFFFF, center);
                        opacity: 75%;
                        width: 60%;
                        margin: 0 auto;
                        margin-top: 15px;
                    }
                }
            }
        }

        &__video-container {
            width: 90%;
            display: block;
            margin: 0 auto;


            video {
                border-radius: 10px;
                width: 90%;
                height: auto;
                display: block;
                margin: 0 auto;
            }
        }
    }
}