@import url('./utils/_mixins.scss');
@import url('./utils/_variables.scss');
@import url('./utils/_placeholders.scss');

.container-section5 {
  width: 614px;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: 768px) {
    width: 502px;
    margin: 0 auto;
    padding: 0 15px;
  }
  @media screen and (max-width: 767px) {
    width: 314px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.information {
  padding-top: 149px;
  padding-bottom: 156px;
  background-image: url('../img/section5/backrground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
  }
  @media screen and (max-width: 767px) {
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .information {
    background-image: url('../img/section5/backrground@2x.jpg');
  }
}

.information__h2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  text-align: center;
  color: #000000;
  @media screen and (min-width: 768px) {
    font-size: 50px;
  }
  @media screen and (max-width: 767px) {
    font-size: 40px;
  }
}
.information__p {
  font-family: 'DM Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 32px;
  color: #6f7787;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 24px;
  }
}
.information__button {
  background-color: #dd2242;
  width: 210px;
  height: 64px;
  padding: 18.5 56 18.5 56;
  border-radius: 122px;
  margin-top: 36px;
  border: none;
  font-family: 'DM Sans';
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  margin-left: 202px;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    width: 314px;
    height: 73px;
    padding: 16px 44px 16px 44px;
    margin-top: 50px;
  }
  @media screen and (max-width: 767px) {
    width: 314px;
    height: 73px;
    padding: 16px 44px 16px 44px;
  }
}
