.hero {
  background: url('../../../img/section1/desert.jpg');

  &__nav {
    display: flex;
    gap: 62px;
  }

  &__link {
    color: #fff;
    font-family: 'DM Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}
