@import 'node_modules/modern-normalize/modern-normalize.css';

@import url('./components/utils/base.scss');
@import url('./components/utils/mixins.scss');
@import url('./components/utils/placeholders.scss');
@import url('./components/utils/variables.scss');

@import url('./components/section1.scss');
@import url('./components/section2.scss');
@import url('./components/section3.scss');
@import url('./components/section4.scss');
@import url('./components/section5.scss');
@import url('./components/section5.scss');
@import url('./components/section7.scss');
@import url('./components/section8.scss');
@import url('./components/section9.scss');
@import url('./components/footer.scss');

body {
  overflow-x: hidden;

  font-family: 'Poppins';
  button {
    cursor: pointer;
  }
}
