<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <ul class="container">
        <ul class="section-2">
            <img src="Rectangle 9.png" alt="Walkways of Indonesia">
                    <ul class="content">
                 <li><h2>The walkways of Indonesia spellbind</h2></li>
                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aenean mollis mauris.</p></li>
                <a href="#" class="btn">Learn More</a>
            </ul>
        </ul>
        <ul class="section">
            <img src="Rectangle 10.png" alt="Perfect beaches">
            <ul class="content">
                <li><h2>Perfect beaches exude relaxation and fun</h2></li>
                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aenean mollis mauris.</p></li>
                <a href="#" class="btn">Learn More</a>
            </ul>
        </ul>
    </ul>
</body>
</html>