<section class="section-4">
    <h2>By The Numbers</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic aperiam reprehenderit temporibus cupiditate eius in dignissimos.</p>

    <ul class="stats">
      <li class="stat-item">
        <h3>100+</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <li>
      <li class="stat-item">
        <h3>43,000+</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Furse commodo.
        </p>
      </li>
      <li class="stat-item">
        <h3>30+</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </li>
    </ul>
  </section> 
