<header class="header">
    <ul class="header__nav">
        <li><a href=""><svg>
                    <use href=""></use>
                </svg></a></li>
        <li><a class="header__link" href="">destinations</a></li>
        <li><a class="header__link" href="">experiences</a></li>
        <li><a class="header__link" href="">about</a></li>
        <li><a class="header__link" href="">gallery</a></li>
    </ul>
    <ul class="header__search">
        <li>
            <svg class="magnifying-glass">
                <use href=""></use>
            </svg>
        </li>
        <li>
            <svg class="burger">
                <use href=""></use>
            </svg>
        </li>
    </ul>
</header>

<section class="container hero">
    <h1 class="hero__heading">explore indonesia</h1>
    <button class="hero__btn"></button>
    <ul class="explore-cards">
        <li class="explore">
            <p class="explore__num">01</p>
            <h3 class="explore__heading">Title here</h3>
            <p class="explore__text">Lorem ipsum dolor sit amet et amet ist ame.</p>
        </li>
        <li class="explore">
            <p class="explore__num">02</p>
            <h3 class="explore__heading">Title here</h3>
            <p class="explore__text">Lorem ipsum dolor sit amet et amet ist ame.</p>
        </li>
        <li class="explore">
            <p class="explore__num">03</p>
            <h3 class="explore__heading">Title here</h3>
            <p class="explore__text">Lorem ipsum dolor sit amet et amet ist ame.</p>
        </li>
    </ul>
</section>