<section class="hero">
    <header class="header header__container">
        <ul class="header__nav">
            <li><a href=""><svg class="header__icon">
                        <use href="../img/symbol-defs.svg#header__logo"></use>
                    </svg></a></li>
            <li class="header__link"><a class="header__link" href="">destinations</a></li>
            <li class="header__link"><a class="header__link" href="">experiences</a></li>
            <li class="header__link"><a class="header__link" href="">about</a></li>
            <li class="header__link"><a class="header__link" href="">gallery</a></li>
        </ul>
        <ul class="header__search search">
            <li>
                <svg class="search__icon">
                    <use href="../img/symbol-defs.svg#magnifying__glass"></use>
                </svg>
            </li>
            <li>
                <svg class="search__icon">
                    <use href="../img/symbol-defs.svg#header__burger"></use>
                </svg>
            </li>
        </ul>
    </header>

    <article class="explore__container">
        <h1 class="hero__heading">explore indonesia</h1>
        <button class="hero__btn">Start travelling</button>
        <ul class="explore-cards">
            <li class="explore">
                <p class="explore__num">01</p>
                <h3 class="explore__heading">Title here</h3>
                <p class="explore__text">Lorem ipsum dolor sit amet et amet ist ame.</p>
            </li>
            <li class="explore">
                <p class="explore__num">02</p>
                <h3 class="explore__heading">Title here</h3>
                <p class="explore__text">Lorem ipsum dolor sit amet et amet ist ame.</p>
            </li>
            <li class="explore">
                <p class="explore__num">03</p>
                <h3 class="explore__heading">Title here</h3>
                <p class="explore__text">Lorem ipsum dolor sit amet et amet ist ame.</p>
            </li>
            <li class="explore explore__poster">
                <video class="explore__video" controls poster="#" src="../img/section1/Rickroll.mp4"></video>
            </li>
        </ul>
    </article>
</section>