  <section class="section-7">
    <h3 class="h3-section-7">Photo Gallery</h3>
    <p class="p-section-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus, eget tincidunt.</p>
    <section class="photo-gallery-section-7">
      <ul>
        <li class="photo-1"></li>
        <li class="photo-2"></li>
        <li class="photo-3"></li>
        <li class="photo-4"></li>
        <li class="photo-5"></li>
        <li class="photo-6"></li>
      </ul>
    </section>
  </section>