  <section class="container-8">
  <main>
    <h1 >Getting There</h1>
    
    <div class="step">
      <div class="number">1</div>
      <h2>Bookings your flights</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus, eget tincidunt lacus varius. Sed euismod orci dictum faucibus malesuada. Praesent sed eros tincidunt, viverra neque auctor, lobortis enim.</p>
    </div>
    
    <div class="step">
      <div class="number">2</div>
      <h2>Choosing your hotel</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus, eget tincidunt lacus varius. Sed euismod orci dictum faucibus malesuada. Praesent sed eros tincidunt, viverra neque auctor, lobortis enim.</p>
      <img src="../img/section8/Photo.png" alt="Traveling there">
  
    </div>
    
    <div class="step">
      <div class="number">3</div>
      <h2>Planning your experiences</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dapibus mauris in lectus tempus, eget tincidunt lacus varius. </p>
      <button>Learn More</button>
    </div>
    
  </main>
  </section>
  <> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum accusantium fuga aliquam praesentium doloribus provident voluptatum reprehenderit sapiente qui, itaque, aspernatur nisi! Amet repellendus voluptas neque distinctio facilis, sapiente quasi.