<section class="section">
    <h2>By The Numbers</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo magna et libero.</p>

    <ul class="stats">
      <li class="stat-item">
        <h3>100+</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <li>
      <li class="stat-item">
        <h3>43,000+</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </li>
      <li class="stat-item">
        <h3>30+</h3>
        <p>.</p>
      </li>
    </ul>
  </section>
