<section class="section6">
    <h2 class="section6__title">Живи життям, про яке навіть не мріяв, відкривай життя, яке перевершує всі очікування.</h2>
    <figure class="section6__bigvideo-container">
        <video class="section6__bigvideo" controls poster="https://raw.githubusercontent.com/Javus-Scriptus/Indonesia_Team/main/src/img/section6/img-1.jpg"  src="https://raw.githubusercontent.com/Javus-Scriptus/Indonesia_Team/main/src/img/section1/Rickroll.mp4" type="video">
        </video>
    </figure>
    <ul class="section6__box">
        <li class="box__item">
            <figure class="section6__video-container">
                <video class="section6__video" controls poster="../img/section6/img-2.jpg" src="../img/section1/Rickroll.mp4" type="video">
                </video>
            </figure>
            <article class="item__article">
                <h3 class="article__title">В країні</h3>
                <p class="article__text">Відчуй справжню гармонію з природою, насолоджуючись спокоєм та красою віддалених місць.</p>
            </article>
        </li>
        <li class="box__item">
            <figure class="section6__video-container">
                <video class="section6__video" controls poster="../img/section6/img-3.jpg" src="../img/section1/Rickroll.mp4" type="video">
                </video>
            </figure>
            <article class="item__article">
                <h3 class="article__title">У місті</h3>
                <p class="article__text">Занурся в атмосферу жвавого мегаполіса, де кожна вулиця приховує свою історію.</p>
            </article>
        </li>
    </ul>
</section>